# Voici les variables d'environement à remplir en dev

#APP_ENV=dev
#APP_SECRET=CHANGE_ME_32_CHARS_MIN

# MySQL
#DB_USER=root
#DB_PASSWORD=CHANGE_ME
#DB_NAME=db_Vite_et_Gourmand
#DB_PORT=3307
#DATABASE_URL="mysql://root:CHANGE_ME@db:3306/db_Vite_et_Gourmand?serverVersion=8.0.32&charset=utf8mb4"

# MongoDB
#MONGO_ROOT_USER=admin
#MONGO_ROOT_PASSWORD=CHANGE_ME
#MONGODB_DB=myapp
#MONGODB_URI="mongodb://admin:CHANGE_ME@mongodb:27017/myapp?authSource=admin"

# Ports
#NGINX_PORT=8080
#PHPMYADMIN_PORT=8082
#MONGO_EXPRESS_PORT=8083
#MONGO_PORT=27017

#CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

#DEFAULT_URI=http://localhost:8080
#VAR_DUMPER_SERVER=127.0.0.1:9912
#MAILER_DSN=null://null
#MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
