# Voici les variables d'environement à remplir en prod

APP_ENV=prod
APP_SECRET=CHANGE_ME_32_CHARS_MIN

# MySQL
DB_USER=root
DB_PASSWORD=CHANGE_ME
DB_NAME=db_Vite_et_Gourmand
DATABASE_URL="mysql://root:CHANGE_ME@db:3306/db_Vite_et_Gourmand?serverVersion=8.0.32&charset=utf8mb4"

# MongoDB
MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=CHANGE_ME
MONGODB_DB=veg_prod
MONGODB_URI="mongodb://mongoadmin:CHANGE_ME@mongodb:27017/veg_prod?authSource=admin"

# Ports
NGINX_PORT=80

# Symfony
CORS_ALLOW_ORIGIN='^https?://(www\.)?viteetgourmand\.ddns\.net$'
DEFAULT_URI=http://viteetgourmand.ddns.net
VAR_DUMPER_SERVER=127.0.0.1:9912
MAILER_DSN=null://null
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

