# --- RACINE ---
.env
.env.local
.env.prod
.env.test
docker-compose.override.yml

# --- BACKEND (Symfony) ---
/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.cache/
/backend/public/assets/
/backend/assets/vendor/

# --- FRONTEND ---
/frontend/node_modules/
/frontend/.env
/frontend/.env.local

# --- DIVERS ---
.DS_Store
Thumbs.db