services:
  php:
    build: 
      context: .
      dockerfile: docker/php/Dockerfile
    restart: always
    env_file: .env.prod
    volumes:
      # On partage UNIQUEMENT le dossier public pour Nginx
      - php-public:/var/www/backend/public:ro
    depends_on:
      - db

  nginx:
    image: nginx:1.27-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - php-public:/var/www/backend/public:ro
      - ./frontend:/var/www/frontend:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

volumes:
  php-public:
  db-data: