# local
#DEFAULT_URI=http://localhost:8080
#VAR_DUMPER_SERVER=127.0.0.1:9912
#MAILER_DSN=null://null
#MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
#CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

# production
#DEFAULT_URI=http://viteetgourmand.ddns.net
#VAR_DUMPER_SERVER=127.0.0.1:9912
#MAILER_DSN=null://null
#MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
#CORS_ALLOW_ORIGIN='^https?://(www\.)?viteetgourmand\.ddns\.net$'