$notation: #E59819;
$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$noir-pure: #000000;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";
