//navigation btn
.navbar-toggler {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}







@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

