
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import 'custom';
//navigation btn



html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

h1 {
  font-family: $font-family-sans-serif ;
  font-size: 24px;
}

h2,a{
  font: $font-family-sans-serif !important;
  font-size: 16px !important;
}

p,span {
  font-family: $font-family-serif;
  font-size: 12px;
}

.hero-scene {
  position: relative;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/pizza-photo.jpg);
    background-size: cover;
    filter: brightness(0.3);
  }

  * {
    //Positionner les éléments devant le ::before
    position: relative;
  }

  .hero-scene-content {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.text-justify {
  text-align: justify;
}

.image-card {
  position: relative;
  &:hover {
    .titre-image,
    .action-image-buttons {
      opacity: 1;
    }
    img {
      filter: brightness(0.3);
    }
  }

  img {
    transition: all 0.3s;
  }
  .titre-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
  }
}


.dot{
  border: 1px solid $primary;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin : 1rem;
}

.dot:active{
  transition: 3ms;
  background-color: $primary;
  border: none;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin : 1rem;
}

.card{
  width: 18rem;
  height : 300px;
}


.img-user {
  width: 25px;
  height: 25px;
  border: black solid 0.1px;
  border-radius: 50%;
  background-color: #ffffff;
}

i{
  font-size: 1rem;
}